*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Imagesbox{
    width: 30px;
}
.ModelImage{
    width: 30%;
}
body{
background-color: #FBF8F1;
}
.Imagesbox{
    width: 40%;
}
.Imagesbox{
    width: 60%;
}
.ModelImage{
    width: 300px;
}