*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Imagesbox{
    width: 30px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
background-color: #FBF8F1;
}
.Imagesbox{
    width: 50%;
}
.Imagesbox{
    width: 60%;
}
.ModelImage{
    height: 100vh;
}
.Form{
    width: 572px;
height: 446px;
background-color: #fff;
}