a {
    text-decoration: none;
    color: #000000;
  }
  a:active {
    color: #000000;
  }
  a:focus {
    outline: none;
  }
  a:link {
    color: #333;
    text-decoration: none;
}
a:visited {
    color: #333;
    text-decoration: none;
}
a img {
    border-width: 0px;
    border-style: none;
    border-color: #fff;
    background: transparent;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
li{
    list-style: none;
    list-style-type: none;
}