<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>登録完了</title>
	<link rel="stylesheet" th:href="@{/css\main.css}">
	<link rel="stylesheet" th:href="@{/css/font.css}">
	<link rel="stylesheet" th:href="@{/css\reset.css}">
	<link rel="stylesheet" th:href="@{/css/valiables.css}">
	<meta charset="utf-8" />
</head>

<body class="BodyPrimary">
	<main class="MainPrimary">
		<div class="Imagesbox">
			<img class="ModelImage" th:src="@{/images/Model.webp}" alt="">
		</div>
		<div class="Loginbox">
			<div class="Box">
				<h1 class="Box_Headtext">Account completed</h1>
				<div class="lottie-container">
					<lottie-player src="https://lottie.host/9b42099e-3fa8-429d-9985-a303d751b06f/YvhSZq5ozV.json" background="transparent" speed="3" style="width: 150px; height: 150px;" autoplay></lottie-player>
				</div>
				<a class="buttonW" href="/create.html" th:href="@{/}">Login</a>
			</div>
		</div>
	</main>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
</body>

</html>