<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site</title>
	<link rel="stylesheet" th:href="@{css\main.css}">
</head>
<body>
	<main class="MainPrimary">
		<div class="Imagesbox">
			<img class="ModelImage" th:src="@{images/Model.jpg}" alt="">
		</div>
		<div class="Loginbox">
			<form class="Form" method="" action="#">
				<h1 class="Form_Text">Login Your Account</h1>
			</form>
		</div>
	</main>
	<a th:href="@{/create}"></a>
	
	<a th:href="@{/list}">アカウント一覧</a>
</body>
</html>