<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site</title>
	<link rel="stylesheet" th:href="@{css\main.css}">
	<link rel="stylesheet" th:href="@{css/font.css}">
	<link rel="stylesheet" th:href="@{css\reset.css}">
	<link rel="stylesheet" th:href="@{css/valiables.css}">
</head>
<body>
	<main class="MainPrimary">
		<div class="Imagesbox">
			<img class="ModelImage" th:src="@{images/Model.jpg}" alt="">
		</div>
		<div class="Loginbox">
			<form class="Form" method="" action="#">
				<h1 class="Form_Text">Login Your Account</h1>
				<div class="Form_Box">
					<p class="Form_Box_p">Email</p>
					<input class="Form_Box_input" type="email">
					<p class="Form_Box_p">Password</p>
					<input class="Form_Box_input" type="password">
				</div>
				<input class="button" type="submit" value="Login">
				<p class="Nextlink">you dont have account?<a class="Accountmake" href="">Make Account</a></p>
			</div>
			</form>
		</div>
	</main>
</body>
</html>