<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site</title>
	<link rel="stylesheet" th:href="@{/css\main.css}">
	<link rel="stylesheet" th:href="@{/css/font.css}">
	<link rel="stylesheet" th:href="@{/css\reset.css}">
	<link rel="stylesheet" th:href="@{/css/valiables.css}">
</head>
<body class="BodyPrimary">
	<main class="MainPrimary">
		<div class="Imagesbox">
			<img class="ModelImage" th:src="@{/images/Model.webp}" alt="">
		</div>
		<div class="Loginbox">
			<form class="Form"  action="#" method="post" th:action="@{/mypage}" th:object="${loginForm}">
				<h1 class="Form_Text">Login Your Account</h1>
				<div class="Form_Box">
					<p class="Form_Box_p">Email</p>
					<input class="Form_Box_input" type="text" name="email">
					<div th:if="${emailerrormessage}" th:text="${emailerrormessage}"></div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">エラーメッセージ</div>
					<p class="Form_Box_p">Password</p>
					<input class="Form_Box_input" type="password" name="password">
					<div th:if="${passworderrormessage}" th:text="${passworderrormessage}"></div>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">エラーメッセージ</div>
				</div>
				<input class="button" type="submit" value="Login">
				<p class="Nextlink">you dont have account?<a class="Accountmake" th:href="@{/create}">Make Account</a></p>
			</div>
			</form>
		</div>
	</main>
</body>
</html>