<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site</title>
	<link rel="stylesheet" th:href="@{/css\main.css}">
	<link rel="stylesheet" th:href="@{/css/font.css}">
	<link rel="stylesheet" th:href="@{/css\reset.css}">
	<link rel="stylesheet" th:href="@{/css/valiables.css}">
</head>
<body class="BodyPrimary">
	<header class="Header">
		<h1 class="Header_Logo">SITE</h1>
		<ul class="Header_Ul">
			<li class="Header_Li"><button class="button2">My Cart</button></li>
			<li class="Header_Li"><button class="button2">Settings</button></li>
		</ul>
	</header>
	<h1 class="Headding_text">MyPage</h1>
	<a class="alink" th:href="@{/login}">ログイン画面に戻る</a>
</body>
</html>